.timeline-dotted-line-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 70px;
  left: 220px;
}

.timeline-dotted-line1 {
  background-color: white;
  width: 400px;
  height: 1010px;
  margin-right: 50px;
}

.timeline-dotted-line2 {
  background-color: black;
  width: 400px;
  height: 1010px;

}

.time-line {
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
}

.time-line2 {
  color: white;
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
}

.icon-paragraph-container {
  display: flex;
  align-items: start;
  margin-bottom: 15px;
  width: 350px;
}

.bell {
  width: 24px;
  height: 24px;
  color: purple;
  
}

.mobile-phone {
  width: 24px;
  height: 24px;
  color:aqua;
}

.file-document {
  width: 24px;
  height: 24px;
  color: rgb(200, 112, 241);
}

.shield-check {
  width: 24px;
  height: 24px;
  color: red;
}

.shield-check2 {
  width: 24px;
  height: 24px;
  color: rgb(218, 17, 218);
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  margin-left: 20px;
}

.line {
  width: 1px;
  height: 105px;
  background-color: #ccc;
}

.design-changes {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  font-size: 15px;
}

.design-changes2 {
  color: white;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  font-size: 15px;
}

.time {
  font-size: 10px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(175, 172, 172);
}

.people-care {
  font-size: 12px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 5px;
  color: rgb(175, 172, 172);
}

.design-button {
  background-color: purple;
  color: white;
  line-height: 10px;
  font-size: 12px;
  text-align: center;
  float: left;
  border-radius: 4px;
}

.order-button {
  background-color: aqua;
  color: white;
  line-height: 10px;
  font-size: 12px;
  text-align: center;
  float: left;
  border-radius: 4px;
}

.number-button {
  background-color: aqua;
  color:white;
  line-height: 10px;
  font-size: 12px;
  text-align: center;
  float: left;
  margin-left: 10px;
  border-radius: 4px;
}

.server-button {
  background-color: blue;
  color: white;
  line-height: 10px;
  font-size: 12px;
  text-align: center;
  float: left;
  border-radius: 4px;
}

.payment-button {
  background-color: blue;
  color: white;
  line-height: 10px;
  font-size: 12px;
  text-align: center;
  float: left;
  margin-left: 10px;
  border-radius: 4px;
}

.card-button {
  background-color: rgb(200, 112, 241);
  color: white;
  line-height: 10px;
  font-size: 12px;
  text-align: center;
  float: left;
  border-radius: 4px;
}

.button-number {
  background-color: rgb(200, 112, 241);;
  color: white;
  line-height: 10px;
  font-size: 12px;
  text-align: center;
  float: left;
  margin-left: 10px;
  border-radius: 4px;
}

.decelop-button {
  background-color: red;
  color: white;
  line-height: 10px;
  font-size: 12px;
  text-align: center;
  float: left;
  border-radius: 4px;
}

.message-button {
  background-color: rgb(218, 17, 218);
  color: white;
  line-height: 10px;
  font-size: 12px;
  text-align: center;
  float: left;
  border-radius: 4px;
}