.sidebar-container {
  position: fixed;
  background-color: white;
  width: 200px;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  transition: width 0.3s ease-in-out;
  z-index: 1000;
  height: 1000px;
}

.sidebar-pages-container {
  display: flex;
  
  text-align: left;
  color: blue;
  font-weight: 500;
  cursor: pointer;
}

.sidebar-pages-container2 {
  display: flex;
  align-items: right;
  text-align: left;
  color: blue;
  font-weight: 500;
  cursor: pointer;
}

.parent-link {
  display: flex;
  flex-direction: column;
}

.sidebar-icon {
  margin-right: 30px;
}

.sub-menu {
 display: none;
 
}

.sub-menu.show {
  display: block;
}

.page-link {
  color: blue;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  
}

.sidebar span {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar span .icon {
  margin-left: auto;
}

.icon {
  margin-left: auto;
  cursor: pointer;
}

.sidebar-pages {
  color: blue;
}