.team-management-container {
  background-color: white;
  position: absolute;
  left: 220px;
  top: 80px;
  border-radius: 10px;
  border: 2px solid rgb(240, 238, 238);
  padding: 20px;
  height: 900px;
}

.team-management {
  text-align: left;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 0;
}

.manage-team {
  text-align: left;
  font-size: 12px;
  color: grey;
  margin-top: 0;
}

.invite-team {
  text-align: left;
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 0;
  margin-top: 0;
}

.your-project {
  font-size: 12px;
  margin-top: 0;
  color: grey;
  text-align: left;
  width: 250px;
}

.email-input {
  width: 400px;
  border-radius: 10px;
  border: 1px solid rgb(216, 213, 213);
  margin-right: 20px;
   padding-left: 30px;
  line-height: 40px;
}

.email-icon {
  color: grey;
}

.email-input-container {
  margin: 20px;
}

.read-only-button {
  background-color: white;
  border: 1px solid rgb(216, 213, 213);
  border-radius: 5px;
  color: grey;
  font-size: 12px;
}

.read-only-button svg {
  font-size: 25px;
  color: black;
}

.invite-team-member-container {
  display: flex;
  border-top: 1px solid rgb(221, 218, 218);
  border-bottom: 1px solid rgb(221, 218, 218);
  padding: 10px 0;
}

.email-input-container {
  display: flex;
  align-items: center;
}

.email-input-container {
  position: relative;
}

.another-invites-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.plus-another {
  display: flex;
  align-items: center;
}
.check-name {
  display: flex;
  padding: 20px;
}

.name-check {
  margin-right: 10px;
  background-color: grey;
}

.na-me {
  color: grey;
  font-size: 15px;
}

.plus {
  font-size: 25px;
  color: grey;
  margin-top: 0;
  margin-bottom: 6px;
  margin-right: 10px;
}

.add-another {
  color: grey;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
}

.email-send {
  display: flex;
  align-items: center;
}

.send-email {
  color: purple;
}

.invite-button {
  color: purple;
  background-color: white;
  font-size: 12px;
  line-height: 10px;
}

.email-icon {
  position: absolute;
  top: 15px;
  margin-left: 10px;
}

.read-only-button {
  display: flex;
  align-items: center;
}

.read-only-button svg {
  margin-left: 5px;
}

.team-member-profile-container {
  display: flex;
  padding: 10px 0;
}

.check-member-profile {
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(216, 214, 214);
  margin-left: 10px;
  padding: 20px 10px;
}

.profile-buttons {
  display: flex;
  align-items: center;
}

.members-image {
  display: flex;
  align-items: center;
  width: 420px;
}

.team-images {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.member-name {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 500;
}

.member-email {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 11px;
}

.admin-button,
.delete-button {
  font-size: 12px;
  background-color: white;
  font-weight: 400;
  color: grey;
}

.edit-button {
  color: purple;
  font-size: 12px;
  background-color: white;
  font-weight: 400;
}